// ==============================================
// Main Stylesheet
// ==============================================

// Import variables and mixins
@import './variables';
@import './mixins';

// Tailwind directives
@tailwind base;
@tailwind components;
@tailwind utilities;

// Global styles
@layer base {
  // Set root font size
  html {
    font-size: $base-font-size;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  body {
    font-family: $font-family-primary;
    font-size: $font-size-base;
    line-height: $line-height-normal;
    color: $color-gray-900;
    background-color: $color-gray-50;
  }

  // Hide scrollbar
  ::-webkit-scrollbar {
    display: none;
  }

  * {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  // Headings
  h1 {
    @include heading-1;
  }

  h2 {
    @include heading-2;
  }

  h3 {
    @include heading-3;
  }

  // Links
  a {
    color: $color-primary;
    text-decoration: none;
    transition: color $transition-base;

    &:hover {
      color: $color-primary-dark;
    }
  }
}

// Custom components
@layer components {
  .btn-primary {
    @include button-primary;
  }

  .btn-secondary {
    @include button-secondary;
  }

  .card {
    @include card;
  }

  .container-custom {
    @include container;
  }
}

// Utilities
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

